<form name="login" class="formUser" ng-submit="signin()" ng-controller="LoginCtrl">
  <div class="container">
    <label for="email"><b>Email</b></label>
    <input class="input" type="text" ng-pattern="emailValid" name="email" placeholder="Enter Email" ng-model="email" required>
    <span class="error" ng-show="login.email.$error.pattern">Invalid email!</span>
    <br/>
    <label for="password"><b>Password</b></label>
    <input class="input" type="password" placeholder="Enter Password" name="password" ng-model="password" required>
    <button class="btn btn-success" type="submit">Login</button>
    <button class="btn btn-danger" type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
