<form name="login" class="formUser" ng-controller="LoginCtrl">
  <div class="container">
    <label for="email"><b>Email</b></label>
    <input class="input" type="text" ng-pattern="word" name="uemail" placeholder="Enter Email" ng-model="userEmail" required>
    <span class="error" ng-show="login.uemail.$error.pattern">Invalid email!</span>
    <br />
    <label for="psw"><b>Password</b></label>
    <input class="input" type="password" placeholder="Enter Password" name="upsw" ng-model="userPassword" required>

    <button class="btn btn-success" type="submit" ng-click="onLogin()">Login</button>
    <button class="btn btn-danger" type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
