<form class="form-auth; formUser">
  <h2 class="form-auth-heading">Login</h2>

  <div class="alert alert-danger" ng-if="lc.LoginError" role="alert">{{ lc.LoginErrorMessage }}</div>

  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="Email" ng-model="lc.email" class="form-control" placeholder="Email" required>

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="Password" ng-model="lc.password" class="form-control" placeholder="Password" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="lc.login()">Login</button>
</form>