<div id="popUpDialog-bg" ng-show="showEmpEditDialog">
  <div id="popUpDialog">
    <div class="content">
      <div class="modal-header">
        <h3>Edit an employee</h3>
      </div>
      <div class="modal-body">
        <input type="text" name="emp_name" class="form-control" placeholder="Enter Employee Name" />
        <label for="isActive">isActive:</label>
        <label class="radio-inline gender">
          <input type="radio" name="isActive" value="isActive">
        </label>
        <div>
          <select name="num" autofocus class="form-control">
            <option value="">Department:</option>
            <option value="1">HR</option>
            <option value="2">Tech</option>
            <option value="3">Finance</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">OK</button>
        <button class="btn btn-warning" ng-click="closeEmpEditDialog()">Cancel</button>
      </div>
    </div>
  </div>
</div>