header {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkturquoise;
}

.menu h1 {
  float: left;
  color: white;
  margin-right: 250px;
  text-decoration: none;
}

.menu h1 a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}


.menu li {
  float: right;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: lightskyblue;
}

.menu button {
  outline: none;
  border: 0;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: darkturquoise;
}

.menu button:hover {
  outline: none;
  border: 0;
  background-color: lightskyblue;
}

.container {
  padding-top: 10px;
}

#popUpDialog-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

#popUpDialog {
  position: fixed;
  width: 20%;
  left: 50%;
  margin-left: -125px;
  margin-top: 5%;
  padding: 15px;
  border-radius: 5px;
  background: white;
}

#popUpDialog .content {
  margin-bottom: 15px;
  text-align: center;
}

#popUpDialog .buttons-container {
  width: 100%;
  margin: 0 auto;
}

.homer {
  display: block;
  text-align: center;
  margin-top: 25px;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.formUser {
  border: 3px solid #f1f1f1;
  box-shadow: 0 0 10px 8px rgba(221, 221, 221, 1);
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.input[type="text"],
.input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.error {
  color: #f44336;
}



